extends layout

block content
  .container
    .row.justify-content-center
      .col-md-6
        h2.text-center Cadastrar Produto
        form(method='GET', action='/cadastro')
          .form-group
            label(for='nome') Nome do Produto:
            input.form-control(type='text', id='nome', name='nome', placeholder='Digite o nome do produto', required)
          .form-group
            label(for="descricao") Descrição:
            input.form-control(type="number", id="preco", name="preco",placeholder='Digite a descrição do produto' required)
          .form-group
            label(for="preço") Preço:
            input.form-control(type="text", id="preco", name="preco",placeholder='Digite o preço do produto' required)
          button.btn.btn-primary.btn-block(type='submit') Cadastrar Produto
