extends layout

block content
  .container
    h2 Editar Promoção
    form(method='POST', action=`/admin/promocoes/${promocao.id}/editar`, enctype='multipart/form-data')
      .form-group
        label(for='titulo') Título da Promoção:
        input.form-control(type='text', name='titulo', id='titulo', value=promocao.titulo, required)

      .form-group
        label(for='descricao') Descrição:
        textarea.form-control(name='descricao', id='descricao', rows='3')= promocao.descricao


      button.btn.btn-primary(type='submit') Atualizar Promoção
      a.btn.btn-secondary(href='/admin/cadastro/promocao') Cancelar
